@import url("https://fonts.googleapis.com/css?family=Girassol|Oswald&display=swap");
/*Oswald , sans-serif*/
@import url("https://fonts.googleapis.com/css?family=Girassol|Oswald|Source+Sans+Pro&display=swap");
/*Source Sans Pro , sans-serif*/
@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");
/*Public Sans , sans-serif*/
* {
  box-sizing: border-box;
}

p {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Public Sans", sans-serif;
}
/* Delays */
.delay-250ms {
  animation-delay: 0.25s;
}
.delay-500ms {
  animation-delay: 0.5s;
}
.delay-750ms {
  animation-delay: 0.75s;
}

/* End of Delays */

.button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  background: #5bc0de;
  border: 1px solid #5bc0de;
  border-radius: 0.3rem;
  color: white;
  padding: 0.4rem;
  font-size: 1.5rem;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: #5bc0de;
  background: none;
}

.icon {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.main-brand a {
  color: black;
  text-decoration: none;
  display: flex;
}

.main-brand_image {
  width: 3rem;
  margin-left: 0.75rem;
  animation: flipLeft 1s;
  transition: transform 0.5s 0.28s;
}
.main-brand_image:hover, .main-brand_image:active {
  transform: rotateY(360deg);
}

@keyframes flipLeft {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  padding: 0.75rem;
  border-bottom: 1px solid white;
}

.main-nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 1rem;
  cursor: pointer;
  flex-wrap: wrap;
}
.main-nav_items a {
  text-decoration: none;
}

.main-nav_item {
  margin: 0 0.75rem;
  color: white;
  transition: color 0.5s;
}
.main-nav_item:hover, .main-nav_item:active {
  color: #75d5fd;
}

.mobile-nav-bars {
  display: none;
  padding-bottom: 0.5rem;
}

.mobile-nav {
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  padding: 0 0.75rem;
  padding-top: 5rem;
  display: none;
}
.mobile-nav .mobile-nav_items {
  list-style: none;
  text-align: right;
}
.mobile-nav .mobile-nav_items .mobile-nav_item {
  color: white;
  cursor: pointer;
}

.main-header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/computer-desk.jpg") center/cover no-repeat border-box, #14a5d5;
  height: 100vh;
  min-height: 35rem;
  padding-top: 15rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  text-align: center;
}

.main-header-container {
  display: flex;
  font-family: inherit;
  color: white;
  font-size: 1.1rem;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.main-header-container .main-header-content {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 470px;
  text-align: center;
}
.main-header-container .main-header-content .main-full-brand_image {
  width: 12rem;
}
.main-header-container .main-header-content h1 {
  font-family: "Oswald", sans-serif;
}
.main-header-container .main-header-content a {
  display: block;
}

.main-header-side-content {
  display: none;
}

.arrow {
  color: white;
  transition: color 0.5s, transform 0.2s;
}

.fa-sort-down {
  font-size: 5rem;
}

.summary {
  padding: 5rem;
  display: flex;
  justify-content: center;
  background: #F5F5F5;
}

.summary-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.summary-about-me {
  font-family: inherit;
}


.heavy {
  font-size: 1.2rem;
}

.summary-about-me h2 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
}

.summary hr {
  width: 50%;
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.summary-image-container {
  padding: 1rem;
  margin-top: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.summary-image {
  width: 256px;
  padding: 1rem;
}

.projects {
  margin-top: 2.5rem;
  text-align: center;
}

.projects-content h2 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
}

.projects-content hr {
  width: 8rem;
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0;
}

.projects-figures {
  display: block;
}

.projects-figures figure {
  height: 100px;
  text-align: center;
}

@media (min-width: 46.88rem) {
  .main-header-side-content {
    display: block;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 4rem 2rem;
    margin-left: 1rem;
    max-width: 470px;
  }

  .main-header-side-content button {
    background: none;
    border: 1px solid #5bc0de;
    border-radius: 0.3rem;
    color: #5bc0de;
    font-family: "Oswald", sans-serif;
    width: 90%;
    font-size: 1.5rem;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
  }

  .main-header-side-content button:hover,
.main-header-side-content button:active {
    color: white;
    background: #5bc0de;
  }

  .main-header-content {
    text-align: left;
  }

  .summary-block {
    flex-direction: row;
    max-width: 720px;
    min-width: 600px;
  }

  .summary-about-me {
    text-align: left;
  }

  .summary-image-container {
    margin: 0;
    margin-left: 1rem;
  }

  .summary-image {
    border: 0.3rem solid #5bc0de;
    border-radius: 0.5rem;
  }

  .projects {
    min-height: 350px;
    margin-top: 3rem;
  }

  .projects-figures {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, [column-start] minmax(100px, 250px) [column-end]);
    grid-template-rows: repeat(2, [row-start] minmax(200px, 300px) [row-end]);
    grid-gap: 10px;
    padding: 1rem;
  }

  .projects-figures figure {
    margin: 0;
    border: 1px solid black;
    height: 100%;
  }
}
@media (max-width: 30rem) {
  .main-nav_items {
    display: none;
  }

  .mobile-nav-bars {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 2rem;
  }

  .open {
    display: block;
  }
}
/* Landscape*/
@media (max-height: 450px) {
  .main-header {
    padding-top: 9rem;
  }

  .main-header-content h1 {
    margin: 0;
  }
}
@media (max-height: 820px) and (max-width: 450px) {
  .main-header {
    padding-top: 50%;
  }

  .main-header-content h1 {
    font-size: 1.6rem;
  }

  .main-header-content p {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=main.css.map */
